.container {
	text-align: center;
	font-family: 'Indie Flower', cursive;
}

.itemList {
	margin: 0 auto;
	width: 20rem;
	text-align: center;
}

.itemList li {
	text-align:left;
}

h1 {
	font-size: 3.5em;
	text-transform: uppercase;
}

ul {
	display: block;
}

.currentItem {
	text-align:left;
	font-size: 2em;

}

li {
	list-style:none;
}


/*.strike {
	text-decoration: line-through;
}

.delete {
	margin-left: 1rem;
	margin-top: 3px;
}

.Checked {
	height: 17px;
	width: 17px;
	background-image: url(images/box_Sprite.png);
}*/


input[type='checkbox'] + label {
	background-image: url(images/box_Sprite.png);
	width: 17px;
	height: 17px;
}

input[type='checkbox']:checked + label {
	color: yellow;
}

input[type='checkbox'] {
	display: none;
}
